
.button{
  
    width:14rem;
    height: 3.5rem;
    background-image: linear-gradient(to right bottom, #fbc25f,#fbb273);
    border-radius: 10rem;
    outline:none;
    translate: all .2s;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    
    &__text{
      font-family:'Poppins', sans-serif;
      font-size: 1.5rem !important;
      color:white;
    }
    
    &:hover{
      cursor:pointer;
      background-image: linear-gradient(to right bottom, #fb6643,#fbc25f);
    }
    
    &:active{
      transform:translateY(1.5px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
  }