
.button{
  
    width:140px;
    height: 35px;
    background-image: linear-gradient(to right bottom, #fbc25f,#fbb273);
    
    outline:none;
    translate: all .2s;
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    
    &__text{
      font-family:'Poppins', sans-serif;
      font-size: 15px !important;
      color:white;
    }
    
    &__primary{
      
      border-radius: 10rem;

      &__purple{
        background-image: linear-gradient(to right bottom, $color-primary-dark,$color-primary-light);
      }
      &:hover{
        cursor:pointer;
        background-image: linear-gradient(to right bottom, #fb6643,#fbc25f);
      }
    }

    &__secondary{
      border-radius: 2px;
    }
    
    &__reverse{
      border-radius: 2px;
      background-color: $color-grey-light-3;
    }
    &:active{
      transform:translateY(1.5px);
      box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
   
  }