
.card{
    padding: 2rem 1rem;
    @include absCenter();
    @include column();
}


.card-us{
    background-color: $color-white;
    border-radius: $border;
    width: 200px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    transition: all .3s;

    &__image{
        width: 70%;
    }
    &:hover{
        transform: scale(1.1) translateY(-1rem);
    }
}

.card-categories{
    width: 200px;
    background-color:$color-grey-light-3;
    cursor: pointer;
    transition: all .2s;
    .icon{
        fill: $color-primary-dark;
    }

    &:hover{
        background-color:$color-primary-light;
    }

    &:hover .icon-big{
      fill: white;
    }
  
}





.container-space{
    justify-content: space-between;
}

.card-side{
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    padding-left:1.75rem;
   
    cursor: pointer;
    @include clip(25%,100%);
}

  .card-product{
    position: relative;
    background-color: white;
    text-decoration: none;
    width: 200px;
    margin: 2rem .75rem;
    padding:2rem;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    border-radius:$border;
    overflow: hidden;
    @include absCenter();
    @include column();
    transition: all .3s;


    &__title{
        margin:0 auto;
        cursor:pointer;
        padding: 1rem .3rem;
        background-color: white;
        box-shadow: 0 15px 40px rgba(0,0,0,0.2);
        width: 90%;
        height: 70px;
        border-radius: 3px;
        color: black;
        transform: translateY(-2.5rem);
        
        &:hover{
            color:#ff7855;
        }
        &-text{
            @include absCenter();
            color: black;
            height: 100%;
            font-size: 12.5px !important;
        }
    }
  
  
        &__price{
            color: black;

        font-family: 'Abel', sans-serif;
        width:80%;
        margin: 0 auto;
        font-size: 30px !important;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        transform: translateY(-1.5rem)
    }
    
    &__description{
        color: black;

        font-family: 'Abel', sans-serif;
        font-size: 12.5px !important;
        align-self:flex-start;
        width:80%;
        margin: 0 auto;
    }
  }

  .selected-card{
      border: 2px solid rgba($color-secondary-light,.7);
  }

  .card-product:hover{
          transform: scale(1.03) translateY(-1.5rem);
      }
  
  .card-image{
    height: 150px;
  }
  
  .img-container{
      width: auto;  
  }
  
 /// card de productos


.v-toolbar__content{
    padding:  0 30px;

    @include respond(phone){padding: 0;justify-content: flex-start !important;}
}


// card de seleccionar imagen

.card-select-image{
    background-color: $color-grey-light-4;
    height: 100px;
    width: 100px;
    border-radius: $border;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: $color-grey-dark-3;
    }
}