
.card{
    padding: 2rem 1rem;
    @include absCenter();
    @include column();
}

.card-us{
    background-color: $color-white;
    border-radius: 3px;
    width: 20rem;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
    transition: all .3s;

    &:hover{
        transform: scale(1.1) translateY(-1rem);
    }
}

.card-categories{
    width: 200px;
    background-color:$color-grey-light-3;
    cursor: pointer;

    .icon{
        fill: $color-primary-dark;
    }

    &:hover{
        background-color:$color-primary-light;
    }

    &:hover .icon{
      fill: white;
    }
  //  @respond
}
