.section-book{
    margin: 50px auto;
    height: calc(min-content + 50px);
    width: 100%;
}

.book{
    margin: 0 auto;
    background-image: linear-gradient(105deg,
                                        rgba(white,.9) 55%,
                                        transparent 45%) ,
                                        url(./assets/login-img.jpg); 
    background-size: cover; 
    border-radius: 3px; 
    box-shadow: 0 1.5rem 4rem rgba(black , .2);
    height: min-content;
    width:75%;

    

    @include respond(tab-port){
        background-image: linear-gradient(to right,
                                        rgba(white,.9) 0%,
                                        rgba(white,.9) 100%),
                                        url(./assets/login-img.jpg);
    }

    &__form{
        width: 50%;
        padding: 10px 50px;

        @include respond(tab-port){
            width: 100%;
            padding: 15px;
        }
    }
}

.book__signup{
    margin: 0 auto;
    background-image: linear-gradient(105deg,
                                        rgba(white,.9) 50%,
                                        rgba(white,.9) 50%) ,
                                        url(./assets/login-img.jpg); 
    background-size: cover; 
    border-radius: 3px; 
    box-shadow: 0 1.5rem 4rem rgba(black , .2);
    height: min-content;
    width:75%;

    @include respond(tab-port){
        width: 80%;
    }

    &__form{
        
        padding: 2.5rem 4rem;

        @include respond(tab-port){
            width: 100%;
        }
    }
}