.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    @include respond(phone){
        //order: 1;
        flex: 0 0 50%; // quitar y ver
       // background-color: $color-grey-light-2;

    }


    &__input{  // input no hereda las propiedades de la fuente
        font-family:inherit;
        font-size: 1.5rem !important;
        background-color: $color-grey-light-2;
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 10px;
        width: 90%;
        transition: all .2s;
        margin-right: -3rem;
        height: 80%;
        &:focus{
            outline: none;
            width: 100%;
            background-color: $color-grey-light-3;
        }

        &::-webkit-input-placeholder{ // chrome & safari browsers
            font-weight: 100;

        }

    }
    &__input:focus + &__button{
        background-color: $color-grey-light-3;
    }

    &__button{
        border: none;
        background-color: $color-grey-light-2;

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }

    }

    &__icon{
            height: 2rem;
            width: 2rem;
            fill: $color-primary-light;
    }
}

