.banner {
    margin: 50px 20px;
    & > * {
        width: 50%;
    }
  @include toColumn();
}

.divider {
    height: 2.5px;
    width: 30%;
    border-radius: 10px;
    margin: 15px auto;
    background-color: $color-primary-light;
}

.separator-left{
    border-left: 1.5px solid $color-primary-light;
    padding-left: 5rem;
}


.hero {
    height: 95vh;
   @include clip(0%,75%);

    @media only screen and (max-width: 600px) {
       @include clip(0%, 100%);
        height: min-content; /*95% of the viewport height*/
    }
}

.home {
    background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
    );
}

.logo {
    height: 50px;
   // width: 5rem;
    margin: 0 10px;
    cursor: pointer;
}

.bg-white {
    background-color: white;
}


//vuetify
.small-icon {
    height: 1rem;
}
.medium-icon{
    height: 1.5rem;
}


.general-container{
    //margin:0 auto;
    width: 90%;
    padding: 3rem;
    margin:50px auto;
    border-radius: .5rem;
    background-color:$color-grey-light-3;
  }














