/*typography*/
.title-center{
    text-align: center;
    font-size: 1.5rem!important;
   // margin:10px;
}
.title-terciary{
    font-size: 1.5rem!important;
    color:black
}
.title-secondary{
    font-size: 3rem!important;
}
.title-primary{
    font-size: 5rem!important;
    letter-spacing: .5rem;
}
.title-white{
    color:white;
}
.title-black{
    color:black;
}

.icon-small{
    font-size: 2.5rem !important;
}

//vuetify

.v-btn{
    font-size: 2.5rem !important;
}

.v-icon{
     font-size: 3rem !important;
}

.v-list-item{
        font-size: 4rem !important;
       // margin: 2rem 5rem;

}
.v-list-item__action{
        margin-left: 2px;
}
.v-col{
     font-size: 5rem !important;
}
.item-small{
    font-size: 2.5rem !important;
}
