/*typography*/
.title-center{
    text-align: center;
    font-size: 10px !important;
   // margin:10px;
}
.title-terciary{
    font-size: 16px !important;
    color:black
}
.title-secondary{
    font-size: 24px !important;
}
.title-secondary-big{
    font-size: 40px !important;
}
.title-primary{
    font-size: 50px !important;
    letter-spacing: .5rem;
}
.title-white{
    color:white;
}
.title-black{
    color:black;
}

.icon-small{
    font-size: 2.5rem !important;
}

//vuetify

.v-btn{
    font-size: 25px !important;
}

.v-icon{
     font-size: 3rem !important;
}

.v-list-item__title{
        font-size: 12.5px !important;
}
.v-list-item__subtitle{
        font-size: 8.5px !important;
}
.v-list-item__action{
        margin-left: 2px;
}
.v-col{
     font-size: 5rem !important;
}
.item-small{
    font-size: 2.5rem !important;
}
.v-card__title, label,.v-label, input,.v-imput{
    font-size:16px !important;
}


