.margin-medium{
    margin:2rem;
}
.margin-small{
    margin:1rem;
}
.padding-medium{
    padding: 3rem;
}
.padding-small{
    padding: 1.5rem;
}
.margin-tmedium{
    margin: 0 3rem;
}
.padding-small{
    padding: 1.5rem;
}

.width-cover{
    width: 100%;
}

.text-center{
    text-align: center;
 }

 .bg-primary{
    background-color: $color-primary-dark;
 }

 .bg-secondary{
     background-color: $color-secondary-light;
 }

 .bg-error{
     background-color: rgb(151, 29, 29);
 }

 .text-error{
     font-size: 16px;
     color: rgb(151, 29, 29);
 }

 .center{
     margin:0 auto;
 }