.margin-medium{
    margin:2rem;
}
.padding-medium{
    padding: 3rem;
}
.margin-tmedium{
    margin: 0 3rem;
}
.padding-small{
    padding: 1.5rem;
}

.width-cover{
    width: 100%;
}

.text-center{
    text-align: center;
 }



 .bg-secondary{
     background-color: $color-secondary-light;
 }

 .bg-error{
     background-color: rgb(151, 29, 29);
 }

 .text-error{
     color: rgb(151, 29, 29);
 }