
.flex{
    @include absCenter;  
}
.end{
    align-self: flex-end;
}
.start{
    align-self: flex-start;
 }
.justify-end{
    justify-self: end;
}
.inline{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}

.column{
    @include column();
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stretch{
    align-self: stretch;
}

.cover{
    width: 100%;
    
}

.heightcover{
    height: 100vh;
}

.half{
    width: 50%;
}


.to-column{
    @include toColumn();
}

.to-column-tablet{
    @include respond(tab-port){flex-direction: column; }
}

.to-cover-tablet{
    @include respond(tab-port){width:100%; }
}