
.flex{
    @include absCenter;   
}
.inline{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.column{
    @include column();

}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stretch{
    align-self: stretch;
}


.cover{
    width: 100%;
}

