
.flex{
    @include absCenter;  
}
.end{
    align-self: flex-end;
}

.inline{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}

.column{
    @include column();
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stretch{
    align-self: stretch;
}


.cover{
    width: 100%;
}


.to-column{
    @include toColumn();
}