$color-primary-dark: #4c2c74;
$color-primary-light:#ae55d3;



$color-white: #fff;

$color-secondary-light: #f58c51;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-success: #12C641;
$color-error: #C63212;

$border: 3px;